.vr-styles {

}

.vr-styles h1 {
    font-size: 38px;
    font-weight: 600;
    line-height: 68px;
    margin-bottom: 15px;
}

.vr-styles h2 {
    font-weight: bold;
}

.vr-styles .list-links h2 {
    margin-bottom: 10px;
}

.vr-styles .list-links {
    margin-top: 30px;
}

.vr-styles .list-links ul {
    list-style: circle;
    margin-left: 50px;
}

.vr-styles a {
    color: #ff530f;
    font-weight: 600;
}

.vr-styles a:hover {
    text-decoration: underline;
}

.data-table-container {
    margin: 20px 0;
}

.backtester-list {
    margin-top: 20px;
}

.backtester-list .backlist-item {
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.backtester-list .backlist-item:nth-last-child(1) {
    border: 0;
}

.backtester-list .backlist-item .backlist-head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.backtester-list .backlist-item .backlist-head .round-circle {
    width: 15px;
    height: 15px;
    display: block;
    background: #14b8a6;
    border-radius: 100%;
    margin-right: 10px;
}

.backtester-list .backlist-item .backlist-head .symbol-name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.backtester-list .backlist-item .backlist-body {
    display: flex;
    justify-content: space-between;
}

.backtester-list .backlist-item .backlist-body > div {
    width: 20%;
}

.backtester-list .backlist-item .backlist-body .backlist-column-title {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 14px;
}

.backtester-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
}

.backtester-container .sidebar-backtester {
    width: 30%;
}
.results-backtester {
    width: 66%;
}

.backtester-container .red-symbol {
    color: #942F2F;
    font-weight: bold;
    text-transform: uppercase;
}

.backtester-container .title-result {
    font-weight: bold;
    border-bottom: 1px solid #c9d2db;
    padding-bottom: 15px;
}

.backtester-container .symbol-container {
    display: flex;
    margin: 15px 0 5px;
    align-items: center;
}

.backtester-container .symbol-container > span:nth-last-child(1) {
    margin-left: 10px;
}

.backtester-container .symbol-container select {
    width: 100%;
}

.backtester-container .sidebar-backtester input {
    width: 100%;
    border-bottom: 1px solid #c9d2dc;
    padding: 5px 10px;
}

.backtester-container .sidebar-backtester .description-under-input {
    color: #babbc3;
    font-size: 13px;
    margin-bottom: 15px;
}

.backtester-container .dates-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #c9d2db;
    margin-bottom: 15px;
}

.backtester-container .dates-flex > div {
    width: 48%;
    margin-bottom: 10px;
}

.backtester-container .dates-flex > div label {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 5px;
}

.backtester-container .dates-flex > div input {
    border: 1px solid #c9d2dc;
    background: #fafafa;
    border-radius: 5px;
    padding: 5px 10px;
}

.backtester-container .entry-title {
    margin-bottom: 15px;
    font-weight: 500;
}

.backtester-container .box-inputs {
    background: #fafafa;
    border: 1px solid #ebebeb;
    padding: 10px;
    border-radius: 5px;
}

.backtester-container .box-inputs label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}

.backtester-container .box-inputs .box-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.backtester-container .box-inputs .box-item span {
    margin-left: 10px;
}

.backtester-container .box-inputs input {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}

#run-dca-calculation {
    display: block;
    background: #0a0a0a;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    transition: 0.1s;
}

#run-dca-calculation:hover {
    background: #404040;
}

.backtester-container .select2-container--default .select2-selection--single {
    height: 40px;
    border-color: #c9d2db;
}

.backtester-container .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.backtester-container .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
}

.backtester-start-search {
    text-align: center;
}

.backtester-start-search span {
    font-size: 40px;
}

.backtester-table {
    margin-top: 10px;
    text-align: right;
}

.backtester-table .button {
    font-size: 15px;
    padding: 5px 15px;
    margin-bottom: 10px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s;
}

.backtester-table .button:hover {
    background: #404040;
}

.table-logs {
    margin-top: 20px;
}

.backtester-loading {
    text-align: center;
    padding: 30px 0px 20px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.help-element {
    cursor: pointer;
}

.required-backtester {
    border: 1px solid red !important;
}

.form-search-symbol {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.form-search-symbol .flexed-input-search {
    display: flex;
}

.form-search-symbol .flexed-input-search input {
    background: #ddd;
    width: 100%;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
}

.form-search-symbol .flexed-input-search button {
    font-size: 25px;
    padding: 0 10px;
}

.form-search-symbol .flexed-input-search button:hover {
    color: #db6536;
}

.price-target-table {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.top-rating-data {
    margin-bottom: 40px;
}

.top-rating-data .symbol-head {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.top-rating-data .symbol-head .symbol-desc {
    font-size: 16px;
    font-weight: normal;
}

.top-rating-data .price-eod {
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
}

.price-target-table .left-side {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.price-target-table .right-side .item-table {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.price-target-table .right-side .item-table:nth-child(1) {
    border-top: 1px solid #d5d5d5;
    margin-top: 58px;
}

.top-rating-data .right-side .item-table:nth-child(1) {
    margin: 0;
}

.price-target-table .right-side .item-table:nth-last-child(1) {
    border-bottom: 1px solid #d5d5d5;
}

.price-target-table .right-side .item-table:nth-child(odd) {
    background: #d4dfee;
}

.price-target-table > div {
    width: 50%;
}

.top-rating-data .right-side {
    width: 75%;
}

.price-target-head {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}

.big-target-price {
    font-size: 48px;
    font-weight: 600;
}

.price-trand-changing {
    color: #027250;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

.price-trand-changing.red {
    color: #b23727;
}

.price-trand-changing.red svg {
    transform: rotate(180deg);
    top: -6px;
}

.price-trand-changing svg {
    position: relative;
    top: 10px;
    font-size: 32px;
    margin-right: 10px;
}

.price-target-content {
    text-align: center;
    padding: 20px;
}

.price-trand-changing {
    justify-content: center;
}

.top-rating-data .price-trand-changing {
    justify-content: flex-start;
    margin-left: 10px;
}

.gauge {
    position: relative;
    width: 204px;
    height: 115px;
    background: url('/images/half-circle-graph.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.gauge img {
    transform: rotate(32deg);
    transform-origin: bottom;
    object-fit: none;
}

.gauge.red img {
    transform: rotate(295deg);
}

.gauge.orange img {
    transform: rotate(330deg);
}

.gauge.yellow img {
    transform: rotate(1deg);
}

.gauge.light-green img {
    transform: rotate(32deg);
}

.gauge.green img {
    transform: rotate(65deg);
}

.graph-items-rating {
    margin-bottom: 20px;
}
